#overlayadd {
	background-color: #ffffff8c;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 3em;
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#new,#ibox,.inpcont,#npcont{
	display: flex;
	flex-direction: column;
}
#new {
	background-color:white;
	z-index: 100;
	position: fixed;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 10px #00000061;
	padding: 2em;
	border-radius: 1em;
}
#new input{
	background-color: transparent;
}
#npost{
	height: 270px;
	width: 200px;
	border-radius: 1em;
	overflow: hidden;
	box-shadow: 0 0 10px #00000061;
}
#ibox{
	gap: 1em;
	margin: .5em;
}
#npcont{
	align-items: center;
}
.inpcont>input{
	border: none;
	border-bottom: 2px solid orange;
}
#ibuts{
	display: flex;
	flex-wrap: warp;
	gap: 1em;
}
#ibuts>button{
	color: white;
	background-color: goldenrod;
	border: none;
	padding: .5em;
	font-size: 1em;
	border-radius: 1em;
	transition: .4s;
}
#ibuts>button:hover{
	scale: 1.2;
	background-color: orange;
}