body {

	background-color: rgb(164, 164, 255);
	background-attachment: fixed;
}
main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.switch {
	display: inline-block;
	position: relative;
	background-color: white;
	border-radius: 50px;
}
.sbox {
	height: 50px;
	width: 400px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.inner {
	position: relative;
	font-size: 1em;
	z-index: 1;
	background-color: rgb(191, 202, 241);
	height: 40px;
	width: 90px;
	border-radius: 40px;
	transition: .4s;
}
#btext:before{
	position: absolute;
	content:attr(data-content);
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 1em;
}
input[type="radio"] {
	opacity: 0;
}
#slider {
	position: absolute;
	cursor: pointer;
	height: 0;
	background-color: #ccc;
	transition: .4s;
}
#slider:before {
	position: absolute;
	content: "";
	border-radius: 42px;
	top: -48px;
	height: 46px;
	width: 94px;
	left: 3px;
	background-color: #0091ff;
	transition: .4s;
	pointer-events: none;
	transition: .5s;
}
.inner:hover {
	box-shadow: 0 0 10px #2196F3;
}