body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
}

header {
	background-color: #333;
	color: white;
	padding: 10px 0;
	text-align: center;
}

nav {
	display: flex;
	background-color: #444;
	padding: 10px;
}

nav a {
	color: white;
	text-decoration: none;
	padding: 10px;
	margin: 0 5px;
}

section {
	padding: 20px;
	margin: 20px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
li.desc{
	list-style: none;
}

form {
	display: flex;
	flex-direction: column;
}

input,
textarea {
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 3px;
}

button {
	padding: 10px;
	border: none;
	background-color: #333;
	color: white;
	border-radius: 3px;
}