header{
    z-index: 100;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: rgb(6, 6, 59);
    position: sticky;
    top: 0;
}
#logo>img{
    height: 7vh;
}
nav>ul{
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0 5px;
}
nav li{
    list-style: none;
}
nav a{
    color: white;
    text-decoration-color: rgba(0, 128, 255, 0);
    transition: .4s;
}
nav a:hover{
    font-size: 1.2em;
    text-decoration-color: rgba(0, 128, 255);
}
